:root {
    --font-size: 32px;
  
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
        
    --font-sans: 'Inter', sans-serif;
  }

*, *::before, *::after {box-sizing: border-box;}

body {
    font-family: var(--font-sans);
    color: var(--Dark-Blue);
    margin: 0;
    padding: 0;
    background-color: var(--Grayish-Blue);
}

img { max-width: 100%;}

.testimonial { 
    background-color: #fff;
    margin: auto;
}

.testimonial__item {
    display: grid;
    grid-template-rows: 50% 50%;


    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.testimonial__textContent {
    grid-row: 2 / 3;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 300;

    background-image: url(../images/pattern-quotes.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top;
}

.testimonial__textContent span { display: block; }
.testimonial__textContent span:not(:last-child) { padding-top: 2rem; }



.textContent--boldtext {
    font-weight: 700;
}

.textContent--accentcolour {
    color: var(--Grayish-Blue);
}

.testimonial__imageContainer {
    position: relative;
    margin: 0 auto;
    

    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
}

.testimonial__image {
    position: absolute;
    top: 10%;
    left: 10%;

    max-width: 225px;
    max-height: 225px;
    box-shadow:  0px 20px 70px 0px rgba(72, 33, 145, 0.22);
}


@media only screen and (min-width: 900px) {

    .testimonial { 
        grid-template-columns: repeat(10, 100px);

        max-width: 1000px;
    
    }


}