:root {
    --font-size: 32px;
  
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
        
    --font-sans: 'Inter', sans-serif;
  }

*, *::before, *::after {box-sizing: border-box;}

body {
    font-family: var(--font-sans);
    color: var(--Dark-Blue);
    margin: 0;
    padding: 0;
    background-color: var(--Grayish-Blue);
}

img { max-width: 100%;}

.testimonial { 
    background-color: #fff;
    margin: auto;
}

.testimonial__item {
    display: grid;
    grid-template-rows: 50% 50%;


    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.testimonial__textContent {
    grid-row: 2 / 3;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 300;

    background-image: url(../images/pattern-quotes.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: top;
}

.testimonial__textContent span { display: block; }
.testimonial__textContent span:not(:last-child) { padding-top: 2rem; }

.textContent--boldtext {
    font-weight: 700;
}

.textContent--accentcolour {
    color: var(--Grayish-Blue);
}

.testimonial__imageContainer {
    position: relative;
    margin: 0 auto;
    

    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
}

.testimonial__image {
    position: absolute;
    top: 10%;
    left: 10%;

    max-width: 225px;
    max-height: 225px;
    box-shadow:  0px 20px 70px 0px rgba(72, 33, 145, 0.22);
}

.testimonial__toggle {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -40px;
    text-align: center;

    background-color: #fff;
    height: 35px;
    width: 70px;
    border-radius: 20px;
}

.testimonial__toggle img { 
    padding: .5rem;
    cursor: pointer;
}


@media only screen and (min-width: 900px) {

    body { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .testimonial { max-width: 900px; }

    .testimonial__item {
        grid-template-rows: 30px 100px 1fr 100px 30px;
        grid-template-columns: 70px repeat(7, 1fr) 70px;

        background-size: 400px;
        background-position: bottom left;
    }

    .testimonial__textContent {
        grid-row: 3 / 4;
        grid-column: 2 / 6 ;
        z-index: 10;
        text-align: left;
        line-height: 1.7rem;
        font-size: 1.2rem;

        background-position: top left;
    }

    .testimonial__textContent span:last-of-type { display: inline-block; }


    .testimonial__imageContainer {
        grid-row: 2 / 5;
        grid-column: 5 / -1;
    }

    .testimonial__imageContainer {
        height: 500px;
        width: 500px;
    }
    
    .testimonial__image {
        max-width: 375px;
        max-height: 375px;
    }

    .testimonial__toggle {
        top: 80%;
        left: 25%;
    }



}